# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Editor files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Google Apps Script specific
.clasp.json
clasp-auth.json

# Node modules (just in case they use it in the future)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
